@import url('https://cdn.jsdelivr.net/normalize/3.0.2/normalize.min.css');
@import url('https://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css');
@import url('https://cdn.jsdelivr.net/font-nanum/1.0/nanummyeongjo/nanummyeongjo.css');
@import url('socialico.css');

html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    background-color: #f8f8f8;
    color: #4c3f37;
    line-height: 1.6;
    font-weight: 400;
    text-align: center;
    border-top: solid 6px #f6da91;
}
::selection{
    background:#f6da91;
    color:#4c3f37;
}
::-moz-selection{
    background:#f6da91;
    color:#4c3f37;
}

h1 {
    font-size: 2rem;
    font-family: Futura, 'Century Gothic', 'SF UI Text', Roboto, 'Helvetica Neue', Helvetica, Arial, 'Nanum Barun Gothic', sans-serif;
    font-weight: 400;
    word-spacing: -3%;
}
a:link, a:visited {
    color: #4c3f37;
    text-decoration: none;
}
a:hover {
    color: #f39148;
}
a:active {
    color: #f6da91;
}
ul {
    margin: 4rem auto;
    padding: 0;
    text-align: center;
}
ul li {
    display: inline;
}
ul.social .icon {
    font-family: 'socialicoregular';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 3rem;
}
ul.social li a:link {
    text-decoration: none;
}

section {
    max-width: 32rem;
    margin: 12% auto 0;
}
blockquote {
    margin: 4rem auto 3rem;
    text-align: justify;
    font-family: Georgia, 'Nanum Myeongjo', serif;
}
blockquote span.source {
    display: block;
    float: right;
    text-align: right;
}
