@font-face {
    font-family: "socialicoregular";
    src: url('../font/Socialico/Socialico.eot');
    src: url('../font/Socialico/Socialico.eot?#iefix') format('embedded-opentype'),
         url('../font/Socialico/Socialico.woff') format('woff'),
         url('../font/Socialico/Socialico.ttf') format('truetype'),
         url('../font/Socialico/Socialico.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}